body{
	background: #eee;
}
#ex1{
	display: hide;
}

.demo-card-wide.mdl-card {
  width: 512px;
  background-image: url('./pic.jpg');
}
img {
	width: 200px;
	height: 200px;
}
#new-post-form{
	background-color: #fff;
	height: 200px !important;
	margin-top: 20px;
	width: 200px;
}
#new-post-form input{
	display: block;
	margin-top: 10px;
	width: 395px;
	box-shadow: 1px solid #eee;
	margin-left: 20px;
}
#new-post-form button {
	margin-left: 20px;
	margin-top: 30px;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	padding: 20px;
	height: 200px;
	width: 500px;
	margin-left: 405px;
	margin-top: 8px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 3px #928a97;
}
li #title{
	font-size: 23px;
	margin-top: 0;
	color: #2e282a;
}
li #user-name {
	color: blue;
	top: 30px;

}
li #user-post{
	font-size: 17px;
	font-family: ubuntu;
}
li #deleteBtn{
	background: #e2434b;
	height: 30px;
	width: 90px;
	border-radius: 3px;
	border: #e2434b;
	color: #fff;
	float: right;
}